cloudpickle==0.8.1
ConfigSpace==0.4.6
cycler==0.10.0
Cython==0.29.7
dask==1.2.0
decorator==4.4.0
future==0.17.1
hpbandster==0.7.0
hyperopt==0.1.2
kiwisolver==1.0.1
matplotlib==3.0.3
netifaces==0.10.9
networkx==2.3
numpy==1.14.5
pandas==0.23.3
patsy==0.5.1
Pillow==9.0.0
pymongo==3.8.0
pyparsing==2.4.0
Pyro4==4.75
python-dateutil==2.8.0
pytz==2019.1
PyWavelets==1.0.3
scikit-image==0.14.0
scikit-learn==0.19.1
scipy==1.1.0
serpent==1.28
six==1.12.0
statsmodels==0.9.0
toolz==0.9.0
torch==0.4.0a0+200fb22
torchvision==0.2.1
tqdm==4.31.1
typing==3.6.6
